


<h3 class='headerText'>All Users</h3>

<div class='displayWrap'>
<% @user.each do |x|%>

<div class='blogTitle'><a href="/users/<%=x.id%>" style="text-decoration:none";><%=x.username%></a></div>
<%# 
<div class='blogText'><%=x.content</div> %> 

<%end%>
</div>



