<h3> update a Blog</h3>

<form method="post" action="/update/<%= @blog.id%>">
<p>title</p>
<input type="text" name ="title"> 
<p>content</p>
<textarea type="text" name ="content"></textarea>
<input type="submit">
</form>


