
<div class='signinform'>
<div class='signup'>
<h6> create</h6>
<form method='post' action='/signup'>
<input type='text' name ='username' > 
<input type='text'name ='password' > 
<input type='submit'> 

</form>


</div>
</div>


<div class='logIn'>
<h6> already user</h6>


<form method='post' action='/login'>
<input type='text' name ='username' > 
<input type='text'name ='password' > 
<input type='submit'> 

</div>

</div>


<% if session[:user_id] %>

<h3>All blogs</h3>

<% @blogs.all.reverse[0..@blogs.length].each do |x|%>
<div><a href="/blogs/<%=x.id%>"><%=x.title%> by: <%=x.user.username%></a></div>
<div><%=x.content%></div>

<% end %>


<%end%>




