<h3> Create a new Blog</h3>

<form method='post' action='/create_blog'>
<p>title</p>
<input type="text" name ="title"> 
<p>content</p>
<textarea type="text" name ="content"></textarea>
<input type="submit">
</form>

