.main-container{
    margin-left: auto;
    margin-right: auto;
    min-width: 750px;
}
@font-face {
  font-family: "bembo";
  src: url("./fonts/BemboStd.otf");
  font-weight:400;
}

#flash{width: 100%;
//  margin-left: auto;
//  margin-right: auto;
// text-align: center;
// background-color: rgb(68, 68, 68);
// text-align: center;
// padding: 0;
// margin: 0;
// text-decoration: none;
// color: #fff;
// display: block;
// list-style: none;
// font-family: 'Oswald', sans-serif;
// font-size: 1.2em;
// line-height: 40px;
// height: 40px;
// border-bottom: 1px solid #888;
}
 


textarea{
  color:gray;
  background-color:white;
}

.headerText{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: xx-large;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
text-align: center;

}

.infoBox{
  padding-top:10px;
  width: 80%;
  float: left;
  font-family: 'Lato', sans-serif;
  font-size: smaller;
  text-align: left;

}


.blogText{
  padding-top:10px;
  font-size: large;
  text-align: justify;
  width: 475px;
  margin-left: 10px;
  margin-right: auto;
  font-family: 'bembo';
  
}

.blogTitle a{
  font-size: 3.4em;
  padding: 10px 10px;
text-align: left;
font-family: 'Pattaya', sans-serif;
color: black;
text-decoration: none;
float: left;
 }

 .displayWrap{
   padding-top: 10px;
   width: 60%;
  display: grid;
  grid-template-columns:auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 100px;
}

 div .blogTitle{
  grid-column-start: 1;
  grid-column-end: 3;
  float: right;
 }

 hr{
   opacity: .2;
 }

 #logoText a{
   font-size:xx-large;
   padding: 0 auto;
   margin:0 auto;
   text-align: left;
   padding-top:10px;
   font-family: 'Arvo', serif;
 }
 

 .tryThis img{
   width: 100%;
   margin-top: 15px;
   margin-bottom: 15px;
 }

#logoId{justify-content: left;

}
 .loginBox{
   height: 400px;
   display: grid;
   grid-template-columns: 1fr .01fr 1fr;
   margin-left: auto;
   margin-right: auto;
   text-align: center; 
 }

 .createUser {
   width: 50%;
   margin-left: auto;
   margin-right: auto;
   margin-top:50px;
   padding: 10px 10px;

  display: flex;
  flex-direction: column;
 }

 .centerSplit{
   height: 90%;
   width: 1px;
   background-color: #444;
   opacity: .5;
   margin-top: 105px;
 }

 #pBox{position: relative;
   visibility: visible;
   border: transparent;
   width: 15px;
  background-color: white;
  right: 5px;
  top: 150px;
 }

 .allUserWrap a{
   font-family: 'Lato', sans-serif;
   font-size: large;
   color: black;
   width: 100%;
   
 }
 .allUserWrap{
   width: 40%;
   margin-left: auto;
   margin-right: auto;
 }


 // this is for the welcome box

 #welcomeBox{
   margin-top:2%;
   width: 40%;
   text-align: center;
   margin-left: auto;
   margin-right:auto;
 }

 #hello{
   font-size: 40px;
 }
 
 
 #forSignOut{
  border-bottom: none;
  background-color: transparent;
  width:100px;
  text-align: center;
  color: red;
  font-weight: bold;
 }

 #allWrap{
   width: 300px;
   margin-right: auto;
   margin-left: auto;
   justify-content: left;
   border-bottom: 1px solid black;
 }

 .deleteEdit{
   position: fixed;
   bottom: 10px;
 }

 