
 body {
  margin: 0;
  padding: 0;
  background:rgb(255, 255, 255);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: small;
}
input {display: inline-flex;
	flex-direction: row;
    border: 1px solid rgb(0, 0, 0);  
    background: rgba(200,345,234,0.5);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    
}
h6{
    color: rgb(0, 0, 0);
    margin-top:130px;

}
 
.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #005f5f;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
